<div class="center">
  <table mat-table [dataSource]="wardDataTable" class="mat-elevation-z8 table-full">
    
    <ng-container matColumnDef="ward">
      <th mat-header-cell *matHeaderCellDef>Ward</th>
      <td mat-cell *matCellDef="let element"> {{element.ward}}</td>
    </ng-container>

    <ng-container *ngFor="let field of wardPrimaryFields" [matColumnDef]="field.name">
      <th mat-header-cell *matHeaderCellDef>{{field.name | fieldDescription}}</th>
      <td mat-cell *matCellDef="let element"> {{element[field.name]}} </td>
    </ng-container>
  
    <ng-container matColumnDef="percent">
      <th mat-header-cell *matHeaderCellDef>%</th>
      <td mat-cell *matCellDef="let element"> {{([element] | totalsBySegment:segment).percent}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
